@{
    ViewBag.Title = "Home Page";
}

<div style="text-align:center;">
    <img src="~/uploads/首页.jpg" alt="Homepage Image" class="homepage-image" />
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Our Mental Health Platform</h2>
        <p>Here, you can find resources and support to improve your mental well-being.</p>
    </div>
</div>