.navbar-custom {
    background-color: #5F7DBE; /* 设置导航栏背景色 */
    padding-top: 20px; /* 增加顶部内边距 */
    padding-bottom: 20px; /* 增加底部内边距 */
}

.navbar-brand {
    font-size: 1.5rem; /* 增大MentalHealth字体 */
    font-weight: bold; /* 加粗MentalHealth字体 */
    color: white; /* 设置MentalHealth文字颜色为白色 */
}

.navbar-nav .nav-link {
    font-size: 1.2rem; /* 增大字体 */
    font-weight: bold; /* 加粗字体 */
    color: white; /* 设置文字颜色为白色 */
}

    .navbar-nav .nav-link:hover {
        color: black; /* 设置悬停时的文字颜色 */
    }



body {
    background-color: #C1DEF2;
}

    nav ul#menu li a:hover {
        background-color: #3b70a3; /* 设置导航链接悬停时的背景颜色（可选） */
    }

.navbar-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Custom style for article image */
.article-image {
    width: 100%;
    max-width: 300px;
    display: block;
    border-radius: 10px; /* 边缘稍微圆润 */
}

/* Container and text styles */
.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.latest-article {
    margin-bottom: 20px;
}

.content-wrapper {
    background-color: #f8f9fa;
    padding: 20px;
}

.white-box {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.knowledge-park-container {
    padding: 0; /* 移除容器的内边距 */
}

.knowledge-park-banner {
    position: relative;
    width: 100%;
    height: 300px; /* 你可以根据需要调整高度 */
    overflow: hidden; /* 确保图片溢出部分被隐藏 */
    padding: 0; /* 移除容器的内边距 */
    margin: 0; /* 移除容器的外边距 */
}

.knowledge-park-image {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover; /* 让图片覆盖整个容器 */
    margin-bottom: 30px; /* 确保图片和下方内容之间有足够的空间 */
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1); /* 柔和的阴影效果 */
    border-radius: 15px; /* 边缘稍微圆润 */
}

.latest-article img.article-image {
    width: 100%; /* 确保文章图片占满容器 */
    display: block; /* 移除图片底部可能的间隙 */
}

/* Custom styles for the cards */
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: bold; /* 加粗字体 */
}


    .card .card-body {
        padding: 20px;
    }

    .card img {
        max-height: 150px;
        object-fit: contain;
    }

    .card .btn {
        margin-top: 10px;
    }
